@CHARSET "UTF-8";
body {
		background-color: #e99e2e;
	
	font-family: Arial, sans-serif; /* serif, monospace */
	  
}
label {
	display: inline-block;
	
}
input {
	
text-align:center;
}
.errores {
	color: red;
	font-weight: bold;
	font-variant: small-caps;
}
h5 {
    text-align: right;
}
h2 {
     text-align: center; COLOR: #000000; BACKGROUND-COLOR: #639e64;
}
h4 {
     COLOR: #000000; BACKGROUND-COLOR: #639e64;
}
nav {
    	background-image: url("/Web/img/background.jpg");

   
text-align:center;}


header {
	
	background-color: #315205;
	text-align: center;
	padding: 1em;
	;
}

footer {
	 
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
background-color: #315205;
}


fieldset {
	border: 0;
}
table th {
	 background-color: #639e64;
  text-align: center;
  width: 150px;
    height: 50px;
}
table tr {
  text-align: center; background-color: #acccad;
}